body{
    width: $width-total;
}

/*.header{
    position: absolute;
    }*/

    /*navbar*/
    .navbar-default{
        background-color: $barra-bg-color;
        z-index: 1;
        border-color: $nav-color-borde;
    //background-attachment: scroll; 
    width: $width-total;
}

.navbar-default .navbar-nav > li > a{
    padding: $padding-navbar-mobile;
    color: $white;
}

.navbar-default .navbar-brand{
    color: $white;
}

@media (max-width: 768px){ //vista de elementos en responsive

    .navbar-default .navbar-nav > li > a{
        padding: $padding-navbar-mobile;
        background-color:$bg-color;
        text-align: $txt-align; 
        color: $white;
    } 

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: $dark-grey;
        background-color: $white;
    }

    .navbar .navbar-nav .dropdown a .caret {
        @include caret();
    }

    .carousel h1.carousel-title{
        margin: $margin-title;
        font-size: $size-title;
        font-weight: $weight-title;
        color:$white;
    }

    .about p{
        margin: $margin-p;
    }

    .about .quienessomos{
        margin-top: $neg-margin;
    }

    .ancho{
        width: $wide-btn;
    }

    .white-card{
        margin-bottom: 80px;
    }

    .subscribe{
        width: 94%;
    }
    .clients{
        .text-muted{
            padding-bottom: $other-font-sz;
        }
    }

}

.dropdown-menu{
    li>a {
        font-size: $icon-nav-size;
        padding: $icon-nav-padding;
        color: $white;
    }

    li>.fa {
        margin-right: $sm-margin;
    }

}

button.btn-rose{
    @include boton();
}

/*carrusel*/

#carousel-example-generic{
    width: $width-total;
    //background-size: cover;
    //position: absolute;   
}

.carousel-inner {
    .carousel-title{
        color: $white;
        @include titulo-carrusel(); 
    }

    .carousel-subtitle{
        display: $block;
        margin: $mgn-sbtle;
        font-size: $icon-nav-size;
        color: $white;
    }
}

.carousel-caption{
    top: $lg-top;
}

/*section characteristics*/
.characteristics{
    padding-bottom: $padding-bottom;
}

.section-title {
    font-size: $font-sz-p-about;
    color: $other-grey;
    line-height: $line-hgt-p-about;
    padding-top: $padding-top;
    margin-bottom: $padding-bottom;
}

.products h4{
    color: $other-grey;
    font-weight: lighter;
    padding-top: $line-hgt-p-about;
}

.products h1{
    font-weight: $weight-title;
}

/*
.section-subtitle {
    font-size: 18px;
    color: #3C4858;
    line-height: 26px;
    padding-top: 100px;
    margin-bottom: 50px;
}
*/
.iconcontainer {
    text-align: $align;
    padding-top: $icon-bottom-padding;
}

.iconbox-icon{
    padding-bottom: $icon-bottom-padding;
}

.icon-one{
    color: $btn-bg-color;
}

.icon-two{
    color: $icon-2;
}

.icon-three{
    color: $icon-3;
}

h4{
    font-weight: $weight-title;
    color: $another-dark-grey;
}

p{
    color: $other-grey;
    text-align: $align;

}

/*about*/
.about{
    background-image: url(../img/img_city.jpg);
    @include about();
}

/*.about:after{  //no me funciona la imagen de fondo más oscura
    background-color: rgba(0,0,0,.7);
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    }*/
/*
#about-us{
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    display: block;
    position: absolute;
    /* Todas las posiciones a cero 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/
.about { //seccion nosotros-about us
    h1{
        color: $white;
        padding-top: $padding-top-about;
        font-weight: $weight-title;
    }

    p{
        font-size: $font-sz-p-about;
        line-height: $line-hgt-p-about;
        color: $whitey;
        text-align: $w-align;
    }

    iframe{
        padding-top: $padding-bottom;
        border: 1px solid $whitey;
    }

}

.products{//seccion productos

    background-color: $other-white;
    margin-top: $margin-top0;
    padding: 65px 5px 70px;

    .container-products{
        padding: 120px;
    }

    .col-md-12 {
        padding-bottom: 80px;
        margin-top: $margin-top1;
    }

    .white-card { //tarjeta blanca detrás de cada producto
        @include white-card();

        img {
            border-radius: $sm-margin;
            border: $no-border;
            margin-top: $margin-top2;
            //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            @include shadow-products();
            transition: all .2s ease-in-out;
        }
        img:hover {
            cursor: pointer;
            margin-top: $margin-top3;
            @include shadow-products();
        }
    }

    .category{
        @include product-category();
    }

    .product{
        color: $another-dark-grey;
        font-weight: $weight-title;
    }

    .product-description {
        margin: 13px 0px 13px;
        line-height: $line-hgt-p-about;
    }

    .pound{
        padding-left: $icon-bottom-padding;
        font-size: $font-sz-p-about;
    }

    .fa{
        font-size: $font-sz-p-about;
    }
}

#portofolio{
    h1{
     color: $another-dark-grey;
     padding-top: $padding-ptfl;
     font-weight: $weight-title;
 }

 h4{
    font-size: $icon-nav-size;
    padding-bottom: $padding-bottom;
    padding-top: $line-hgt-p-about;
    font-weight: $weight-normal;
}
}

.portfolio { //fotos del portafolio
    .borde {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: $padding-bottom;
        border-radius: $sm-margin;
        //width: $width-total;
        @include img-ptf();
    }
    .container {
        position: relative;
    }

    .middle{
        @include txt-hover-ptf();
    }

    .container:hover .borde {
        opacity: 5;
    }

    .container:hover .middle {
        opacity: 4;
    }

    .text {
        background-color: $color-hover1;
        color: $white;
        padding: 5px 12px;
        border-radius: $radio1;
        font-size: $icon-nav-padding;
        text-transform: $may;
        font-weight: $weight-title;
    }

    .darkpink{
        background-color: $btn-bg-color;
    }

    .light-blue{
        background-color: $icon-2;
    }

    .card-title{
        color: $white;
        font-size: 19px;
        font-weight: $weight-title;
        width: 100%;
    }
}

.team {
    h1{
        color: $another-dark-grey;
        padding-top: $padding-ptfl;
        font-weight: $weight-title;
    }

    h4{
        font-size: $icon-nav-size;
        padding-bottom: $padding-bottom;
        padding-top: $line-hgt-p-about;
        font-weight: $weight-normal;
    }

    .team-members{
        margin-bottom: $padding-bottom;
    }

    .social{
        margin: 10px 1px;
    }

    .fa{
        padding-right: $icon-nav-size; //espacio entre los íconos de social media
    }

    .fa-facebook{
        color: rgb(59, 89, 152);
    }
    .fa-twitter{
        color: rgb(85, 172, 238);
    }
    .fa-linkedin{
        color: rgb(9, 118, 180);
    }
    .fa-dribbble{
        color: rgb(241, 139, 179);
    }
    .fa-pinterest{
        color: rgb(204, 33, 39);
    }
    .fa-github-square {
        color: rgb(51, 51, 51);
    }
    .fa-google-plus{
        color: rgb(223, 85, 68);
    }

    .team-members{
        img{
            border-radius: $sm-margin;
        }

        h4{
            color: $another-dark-grey;
            padding-bottom: $sm-margin;
            font-weight: $weight-title;
        }
        p{
            text-align: $txt-align;
        }

    } 
}

.container-prices{

    padding: 70px 65px 60px;
    background-color: $light-grey;

    .btn-danger{
        background-color: $btn-bg-color;
    }

    h1{
        font-weight: $weight-title;
        padding-bottom: $size-title;
    }

    span{
        font-weight: $weight-title;
    }
}

.clients{
    padding: 65px 5px 70px;

    h1{
        color: $another-dark-grey;
        font-weight: $weight-title;
        padding-bottom: $size-title;
    }

    h4{
        padding-bottom: $sm-margin;
        font-weight: $weight-normal;
        padding-bottom: $padding-bottom;
        padding-top: $other-font-sz;
        text-align: center;
        color: $other-grey;
    }

    img{
        @include clients();
    }

    .client {
        color: $another-dark-grey;
        font-weight: $weight-title;
    }

    h6{
        color: $another-dark-grey;
        font-weight: $weight-normal;
    }

    p{
        color: $other-grey;
    }
}

.newsletter{
    background: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    $icon-bottom-padding: 30px;
    padding: 65px 0px;
    //background-color: rgba(0, 0, 0, 0.5);

    h1{
        color: $white;
        padding-top: $padding-ptfl;
        font-weight: $weight-title;
    }

    p{
        color: $white;
    }
}

.newsletter:after { //NO ME RESULTA OSCURECER LA IMAGEN DEL FONDO
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    content: "";
}


