body{
    width: $width-total;
}

/*.header{
    position: absolute;
    }*/

    /*navbar*/
    .navbar-default{
        background-color: $barra-bg-color;
        z-index: 1;
        border-color: $nav-color-borde;
    //background-attachment: scroll; 
    width: $width-total;
}

.navbar-default .navbar-nav > li > a{
    padding: $padding-navbar-mobile;
    color: $white;
}

.navbar-default .navbar-brand{
    color: $white;
}

@media (max-width: 768px){ //vista de elementos en responsive

    .navbar-default .navbar-nav > li > a{
        padding: $padding-navbar-mobile;
        background-color:$bg-color;
        text-align: $txt-align; 
        color: $white;
    } 

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: $dark-grey;
        background-color: $white;
    }

    .navbar .navbar-nav .dropdown a .caret {
        @include caret();
    }

    .carousel h1.carousel-title{
        margin: $margin-title;
        font-size: $size-title;
        font-weight: $weight-title;
        color:$white;
    }

    .about p{
        margin: $margin-p;
    }

    .about .quienessomos{
        margin-top: $neg-margin;
    }

    .ancho{
        width: $wide-btn;
    }

    .white-card{
        margin-bottom: 80px;
    }

}

.dropdown-menu{
    li>a {
        font-size: $icon-nav-size;
        padding: $icon-nav-padding;
        color: $white;
    }

    li>.fa {
        margin-right: $sm-margin;
    }

}

button.btn-rose{
    @include boton();
}

/*carrusel*/

#carousel-example-generic{
    width: $width-total;
    //position: absolute;   
}

.carousel-inner {
    .carousel-title{
        color: $white;
        @include titulo-carrusel(); 
    }

    .carousel-subtitle{
        display: $block;
        margin: $mgn-sbtle;
        font-size: $icon-nav-size;
        color: $white;
    }
}

.carousel-caption{
    top: $lg-top;
}

/*section characteristics*/
.characteristics{
    padding-bottom: $padding-bottom;
}

.section-title {
    font-size: $font-sz-p-about;
    color: $other-grey;
    line-height: $line-hgt-p-about;
    padding-top: $padding-top;
    margin-bottom: $padding-bottom;
}

.products h4{
    color: $other-grey;
    font-weight: lighter;
    padding-top: $line-hgt-p-about;
}

.products h1{
    font-weight: $weight-title;
}

/*
.section-subtitle {
    font-size: 18px;
    color: #3C4858;
    line-height: 26px;
    padding-top: 100px;
    margin-bottom: 50px;
}
*/
.iconcontainer {
    text-align: $align;
    padding-top: $icon-bottom-padding;
}

.iconbox-icon{
    padding-bottom: $icon-bottom-padding;
}

.icon-one{
    color: $btn-bg-color;
}

.icon-two{
    color: $icon-2;
}

.icon-three{
    color: $icon-3;
}

h4{
    font-weight: $weight-title;
    color: $another-grey;
}

p{
    color: $other-grey;
    text-align: $align;

}

/*about*/
.about{
    background-image: url(../img/img_city.jpg);
    @include about();
}

/*.about:after{  //no me funciona la imagen de fondo más oscura
    background-color: rgba(0,0,0,.7);
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
}*/
/*
#about-us{
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    display: block;
    position: absolute;
    /* Todas las posiciones a cero 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/
.about {
    h1{
        color: $white;
        padding-top: $padding-top-about;
        font-weight: $weight-title;
    }

    p{
        font-size: $font-sz-p-about;
        line-height: $line-hgt-p-about;
        color: $whitey;
        text-align: $w-align;
    }

    iframe{
        padding-top: $padding-bottom;
        border: 1px solid $whitey;
    }

}

.products{

    background-color: $other-white;
    margin-top: $margin-top0;

    .container-products{
        padding: 120px;
    }

    .col-md-12 {
        padding-bottom: 80px;
        margin-top: $margin-top1;
    }

    .white-card {
        @include white-card();

        img {
            border-radius: $sm-margin;
            border: $no-border;
            margin-top: $margin-top2;
            //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            @include shadow-products();
            transition: all .2s ease-in-out;
        }
        img:hover {
            cursor: pointer;
            margin-top: $margin-top3;
            @include shadow-products();
        }
    }

    .category{
        @include product-category();
    }

    .product{
        color: $another-dark-grey;
        font-weight: $weight-title;
    }

    .product-description {
        margin: 13px 0px 13px;
        line-height: $line-hgt-p-about;
    }

    .pound{
        padding-left: $icon-bottom-padding;
        font-size: $font-sz-p-about;
    }

    .fa{
        font-size: $font-sz-p-about;
    }

    /*h5 {
        color: gray;
    }*/
}