@mixin boton(){
	padding: 13px 20px;
	background-color:$btn-bg-color;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	border-radius: 3px;
}

/*caret*/
@mixin caret(){  /*antes se veía, después se perdió el símbolo caret*/
	top: 5px;
	background: #e91e63;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-family: Fontawesome;
	height: 30px;
	margin-left: 0;
	position: absolute;
	right: 15px;
	text-align: center;
	width: 30px;
}

@mixin titulo-carrusel(){
	margin: 0 0 20px;
	font-size: 50px;
	font-weight: 700;
}

@mixin shadow-products() {
	-webkit-box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
	-moz-box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
	box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
}

@mixin white-card(){
	padding: 15px;
	background-color: $whitey;
	border: none;
	margin-left: 20px;
	border-radius: 5px;
	width: 80%;
}

@mixin about(){
	background-attachment: fixed;
	background-position: center center;
	opacity: 0.99;
	padding: 70px 0 30px;
	background-color: rgba(0,0,0,.7);
}

@mixin product-category(){
	color: $btn-bg-color;
	font-size: 12px;
	margin-top: 18px;
	font-weight: $weight-title;
}

@mixin img-ptf(){
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

@mixin txt-hover-ptf(){
	transition: .5s ease;
	opacity: 0.9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

@mixin clients(){
	width: 100px;
	height: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}