/*navbar responsive*/

$padding-navbar-mobile: 13px 16px;
$bg-color: #333;
$txt-align: left;
$color: #fff;

/*titulo carrusel responsive*/
$margin-title: -140px -50px -10px;
$size-title: 38px;
$weight-title: 700;
