/*navbar responsive*/

$padding-navbar-mobile: 13px 16px;
$bg-color: #333;
$txt-align: left;

/*titulo carrusel responsive*/
$margin-title: -150px 0px 10px;
$size-title: 26px;
$weight-title: 700;

/*p sección about*/
$margin-p: 10px 0px 0px;

/*boton toggle responsive mas ancho*/
$wide-btn: 100%;

/*subtitle*/
$mgn-sbtle: 10px 0 60px;

$lg-top: 200px;