$icon-nav-size:16px;
$icon-nav-padding: 10px;
$nav-color-borde: transparent; 

$btn-bg-color: #e91e63;
$barra-bg-color:transparent;

$width-total: 100%;

$dark-grey: #333333;

$white: #fff;

$icon-2: #00bcd4;

$icon-3: #4caf50;

$icon-bottom-padding: 30px;
