$icon-nav-size:16px;
$icon-nav-padding: 10px;
$nav-color-borde: transparent; 

$btn-bg-color: rgb(233, 30, 99);
$barra-bg-color:transparent;

$width-total: 100%;

$dark-grey: rgb(51, 51, 51);
$another-dark-grey: rgb(60, 72, 88);
$other-grey: rgb(60%,60%,60%);
$light-grey: rgb(240, 240, 240);
	

$whitey: rgb(254, 254, 254);
$white: rgb(255, 255, 255);
$other-white: rgb(244, 242, 242);

$icon-2: rgb(0, 188, 212);

$icon-3: rgb(76, 175, 80);

$icon-bottom-padding: 30px;
$padding-bottom: 50px;
$padding-top: 100px;

$padding-top-about: 60px;
$padding-ptfl: 70px;

$sm-margin: 5px;

$block: block;

$align: center;
$w-align: -webkit-left;

$font-sz-p-about: 18px;
$other-font-sz: 20px;

$line-hgt-p-about: 26px;

$no-border: none;
$radio1: 6px;

$neg-margin: -90px;

$margin-top0: -18px;
$margin-top1: -25px;
$margin-top2: -40px;
$margin-top3: -55px;

$may: uppercase;

$color-hover1: rgb(244, 67, 54);

$alig-l: left;
$alig-m: center;
$alig-r: right;

$none: none;