$icon-nav-size:16px;
$icon-nav-padding: 10px;
$nav-color-borde: transparent; 

$btn-bg-color: #e91e63;
$barra-bg-color:transparent;

$width-total: 100%;

$dark-grey: #333333;
$other-grey: #999;
$another-grey: #3C4858;

$whitey: #fefefe;
$white: #fff;

$icon-2: #00bcd4;

$icon-3: #4caf50;

$icon-bottom-padding: 30px;
$padding-bottom: 50px;
$padding-top: 100px;

$padding-top-about: 60px;

$sm-margin: 5px;

$block: block;

$align: center;
$w-align: -webkit-left;

$font-sz-p-about: 18px;
$line-hgt-p-about: 26px;

$no-border: none;

$neg-margin: -90px;